.drag-drop-container {
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    height: 200px;
    overflow: scroll;
    margin-bottom: 20px;
    text-align: left;
}

.drag-drop-container::-webkit-scrollbar {
    display: none;
}

div:empty:before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
}
