.form {
  text-align: center;
  padding-bottom: 2%;
}

.output {
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2%;
}

.table,
.plot {
  padding-bottom: 2%;
}
